body {
	font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
	font-size: 14px;
	padding: 50px 80px;
}

h1 {
	font-size: 34px;
	font-weight: 400;
	margin: 0 0 15px 0;
}

p {
	color: #777;
	margin: 0 0 70px 0;
}

.lightshow {
	width: 450px;
	height: 300px;
}



